/* line 1, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
.top-nav {
  background-color: white;
  border-bottom-color: #edeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 70px;
  padding-top: 15px;
}

/* line 9, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
.top-nav .add a {
  font-weight: bold;
  color: #125688;
  font-size: 16px;
  padding-left: 8px;
}

/* line 15, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
.top-nav .add {
  margin-top: 10px;
}

/* line 18, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
.brand {
  color: #125688;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
}

/* line 23, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
.brand a:hover {
  text-decoration: none;
}

/* line 26, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
.pull-right {
  white-space: nowrap;
}

/* line 29, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
.navmenulist {
  color: #125688;
  font-size: 20px;
}

/* line 33, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
.navmenulist li {
  color: #125688;
  font-size: 20px;
}

/* line 38, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
#globalHeader #globalHeaderMenuContainer a {
  font: 0.6875em/34px Arial,sans-serif;
  letter-spacing: 1px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
}

/* line 47, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
.card {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid #e8e8e8;
  padding: 0;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 50px;
}

/* line 59, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
.img-with-text {
  text-align: justify;
  width: 300px;
  list-style: none;
  padding-left: 10px;
}

/* line 66, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
.img-with-text img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 300px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 74, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
.card p, .card .message {
  font-size: 18px;
  margin: 20px;
}

/* line 79, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
.card.form {
  padding: 20px;
}

/* line 82, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
.card ul {
  list-style-type: none;
  text-align: center;
}

/* line 86, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
label {
  font-size: 18px;
}

/* line 90, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
input {
  font-size: 18px;
  font-weight: 400;
}

/* line 95, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
.my-btn {
  background-color: #125688;
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 10px;
}

/* line 103, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
.input.boolean {
  margin-left: 18px;
  margin-top: 5px;
}

/* line 108, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
.photo-box {
  /*resize container */
  width: 250x;
  height: 250px;
}

/* resize images */
/* line 115, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
.photo-box img {
  width: 100%;
  height: 100%;
}

/* line 120, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
.clr {
  clear: both;
}

/* line 123, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
ul#navlist {
  margin-left: 0;
  padding-left: 0;
  white-space: nowrap;
}

/* line 130, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
#navlist li {
  display: inline;
  list-style-type: none;
}

/* line 136, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
#navlist a {
  padding: 3px 10px;
}

/* line 138, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
#navlist a:link, #navlist a:visited {
  color: #fff;
  background-color: #036;
  text-decoration: none;
}

/* line 145, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
#navlist a:hover {
  color: #fff;
  background-color: #369;
  text-decoration: none;
}

/* line 152, /vagrant/src/shop_clothes/app/assets/stylesheets/master.css.scss */
img {
  max-width: 100%;
}
