<br />
<% @products.each do |product| %>
 <div class="card col-xs-12 col-sm-6 col-md-3">
 <div class="img-with-text"
 <ul>
  <li><%= link_to (image_tag product.photo), product_path(product) %></li>
  <li><h4><%= product.title %></h4></li>
    <li><span class ="label label-info label-lrg">
	  <%=number_to_currency product.price %>
	</span></li>
	<li><%= link_to 'Add to Cart', '#', class: 'label label-primary label-lrg' %></li>
	<br />
</ul>
</div>
</div>
<% end %>




